@charset "utf-8";

.inner {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}

.Section > div {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/assets/img/bg/bg2.png");
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Section .sectionTitle {
  font-size: 50px;
  color: #818091;
  text-align: center;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Section.active > div > .sectionTitle img {
  transition: all 1.5s;
}

.Section.active > div > .sectionTitle img {
  transform: rotate(365deg);
}

.Section .sectionTitle p {
  margin-left: -30px;
  position: relative;
  z-index: 1;
}

.Navigation {
  right: unset !important;
  left: 70px;
}

.Navigation a {
  width: 18px;
  height: 18px;
  border-radius: 0 !important;
  background-color: transparent !important;
  border: 1px solid #414051;
  margin-bottom: 20px !important;
}
.Navigation .Navigation-Anchor.active {
  border: 1px solid #fff;
  box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.8);
}

.swiperWrap
  .swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 1px solid #414051;
  border-radius: 0;
  opacity: 1;
  transform: rotate(-45deg);
  margin: 0 8px;
  transition: all 0.2s;
}
.swiperWrap
  .swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet:hover {
  transform: rotate(-35deg);
}
.swiperWrap
  .swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 1px solid #fff;
  box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.8);
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 5px;
}

.snsLink {
  display: flex;
  align-items: center;
  li {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #818091;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    img {
      width: 20px;
      filter: invert(1);
      opacity: 0.6;
      transition: all 0.3s;
    }
    &:hover {
      border: 2px solid #fff;
      img {
        opacity: 1;
      }
    }
  }
}
@media (max-width: 1400px) {
  .Section .sectionTitle {
    font-size: 46px;
  }
  .Section > div > .sectionTitle img {
    width: 90px;
  }
  .Section .sectionTitle p {
    margin-left: -34px;
  }
}

@media (max-width: 900px) {
  .Section .sectionTitle {
    font-size: 40px;
  }
  .Section > div > .sectionTitle img {
    width: 85px;
  }
  .Section .sectionTitle p {
    margin-left: -38px;
  }
  .swiperWrap
    .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    margin: 0 6px;
  }
}

@media (max-width: 500px) {
  .Section .sectionTitle {
    font-size: 24px;
  }

  .Section > div > .sectionTitle img {
    width: 55px;
  }
  .Section .sectionTitle p {
    margin-left: -35px;
  }
}
